<div>
  <form
    class="form-row"
    (ngSubmit)="submitForm()"
    [formGroup]="form"
  >
    <div
      *ngFor="let input of inputs"
      [class]="input.containerClass"
    >
      <app-inputs
        [input]="input"
        [form]="form"
        [submitted]="submitted"
      ></app-inputs>
    </div>

    <div
      class="col-md-12"
      *ngIf="actions.length"
    >
      <button
        class="btn btn-info"
        type="submit"
        [disabled]="!form.valid && submitted"
        *ngIf="actions.includes('save')"
      >
        Save
      </button>
      <a
        class="ml-2 btn btn-danger"
        (click)="delete()"
        *ngIf="actions.includes('delete')"
      >
        Delete
      </a>
      <a
        class="btn btn-success"
        (click)="search()"
        *ngIf="actions.includes('search')"
      >
        Search
      </a>
      <a
        class="ml-2 btn btn-success"
        (click)="share()"
        *ngIf="actions.includes('share')"
      >
        Share
      </a>
    </div>
  </form>
</div>