<div class="bg-light wrapper">
  <div class="container py-3">
    <app-nav-bar
      class="mb-3 d-block"
      [searchInputs]="searchInputs$ | async"
      (onSearch)="onSearch($event)"
      (onOpenModal)="openModal(template)"
    ></app-nav-bar>
    <div class="row">
      <app-side-nav
        id="list"
        class="col-12 col-md-4 col-lg-3 mb-2"
        [items]="filteredItems"
        [selected]="speechId"
        (onClick)="setSelectedItem($event)"
      ></app-side-nav>
      <div
        id="content"
        class="col-12 col-md-8 col-lg-9"
      >
        <app-form
          [inputs]="inputs$ | async"
          [actions]="speechId ? ['save', 'delete', 'share'] : []"
          (onSubmit)="onSubmit($event, 'update')"
          (onDelete)="onDelete()"
          (onShare)="openModal(share)"
        ></app-form>
      </div>
    </div>
  </div>
  
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Create</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-form
        [inputs]="addInputs$ | async"
        [actions]="['save']"
        (onSubmit)="onSubmit($event, 'create')"
        (onDelete)="onDelete()"
      ></app-form>
    </div>
  </ng-template>
  
  <ng-template #share>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Share</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form (submit)="onShare($event)">
          <div class="d-flex">
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              name="email"
            >
            <button
              type="submit"
              class="ml-2 btn btn-info"
            >
              Send
            </button>
          </div>
        </form>
    </div>
  </ng-template>
</div>